n8n_workflow_template.json
{
  "name": "AI笔记流水线 - 外部输入处理",
  "nodes": [
    {
      "parameters": {
        "path": "pipeline-trigger",
        "responseMode": "lastNode",
        "options": {},
        "httpMethod": "POST"
      },
      "id": "webhook-trigger",
      "name": "Webhook触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:9876/process",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.body.url || '' }}"
            },
            {
              "name": "text",
              "value": "={{ $json.body.text || '' }}"
            },
            {
              "name": "source",
              "value": "n8n"
            }
          ]
        }
      },
      "id": "http-request",
      "name": "调用流水线",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "webhook-response",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook触发": {
      "main": [[{ "node": "调用流水线", "type": "main", "index": 0 }]]
    },
    "调用流水线": {
      "main": [[{ "node": "返回结果", "type": "main", "index": 0 }]]
    }
  }
}
